name: Commit-lint

on: [push, pull_request]

permissions: {}

jobs:
  commitlint:
    permissions:
      contents: read
      statuses: read
    runs-on: ubuntu-latest
    name: Lint Commits

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Install required dependencies
        run: |
          sudo apt update
          sudo apt install -y nodejs npm

      - name: Print versions
        run: |
          git --version
          node --version
          npm --version

      - name: Install commitlint
        run: |
          npm install conventional-changelog-conventionalcommits @commitlint/config-conventional commitlint@latest
          npx commitlint --version

      - name: Validate current commit (last commit) with commitlint
        if: github.event_name == 'push'
        run: npx commitlint --last --verbose

      - name: Validate PR commits with commitlint
        if: github.event_name == 'pull_request'
        run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose
