name: Remove automerge label

on:
  pull_request_target:
    types: [closed]

permissions: {}

jobs:
  remove-automerge-label:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'automerge')
    permissions:
      contents: none
      pull-requests: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions-ecosystem/action-remove-labels@2ce5d41b4b6aa8503e285553f75ed56e0a40bae0 # v1.3.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: automerge
