name: Update Gradle Wrapper

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  update-gradle-wrapper:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.4.0

      - name: Update Gradle Wrapper
        uses: gradle-update/update-gradle-wrapper-action@v1.0.16
        with:
          labels: gradle, dependencies, patch
          reviewers: bigmichi1
          repo-token: ${{ secrets.GRADLE_UPDATE_PAT }}
